# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=your-openai-api-key

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=your-auth-secret

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=your-blob-read-write-token

# NextAuth Secret - generated using `node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"` command on terminal
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000

# Get from https://github.com/settings/developers
AUTH_GITHUB_ID=your-github-id
AUTH_GITHUB_SECRET=your-github-secret

# Get from https://console.cloud.google.com/apis/credentials
AUTH_GOOGLE_ID=your-google-id
AUTH_GOOGLE_SECRET=your-google-secret

# Recommended for most uses
# Change this for PROD
DATABASE_URL=your-database-url